<div class="container">
  <h1><app-message message="userCreationConfirm"></app-message></h1>
  <div class="confirm">
    <div class="row">
      <div class="col-md-4"><app-message message="firstName"></app-message>:</div>
      <div class="col-md-8">{{user?.firstName}}</div>
    </div>
    <div class="row">
      <div class="col-md-4"><app-message message="lastName"></app-message>:</div>
      <div class="col-md-8">{{user?.lastName}}</div>
    </div>
    <div class="row">
      <div class="col-md-4"><app-message message="email"></app-message>:</div>
      <div class="col-md-8">{{user?.email}}</div>
    </div>
    <div class="row">
      <div class="col-md-4"><app-message message="streetNumber"></app-message>:</div>
      <div class="col-md-8">{{user?.streetNumber}}</div>
    </div>
    <div class="row">
      <div class="col-md-4"><app-message message="streetName"></app-message>:</div>
      <div class="col-md-8">{{user?.streetName}}</div>
    </div>
    <div class="row">
      <div class="col-md-4"><app-message message="city"></app-message>:</div>
      <div class="col-md-8">{{user?.city}}</div>
    </div>
    <div class="row">
      <div class="col-md-4"><app-message message="state"></app-message>:</div>
      <div class="col-md-8">{{user?.state}}</div>
    </div>
    <div class="row">
      <div class="col-md-4"><app-message message="zipcode"></app-message>:</div>
      <div class="col-md-8">{{user?.zipcode}}</div>
    </div>
  </div>
</div>
